nav {
  background-image: url(https://assets.maxroll.gg/wordpress/D4_News_Lilith_2-900x300.webp);
  background-repeat: no-repeat;
  background-size: 3000px;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  font-size: larger;
  height: 50px;
}

body {
  margin: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 1%;
  background-color: #AFAFAF;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url(https://img.freepik.com/free-photo/grunge-black-concrete-textured-background_53876-124541.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, 2px 2px 0 #000
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: yellow;
  margin-right: 50px;
}

a:visited {
  color: gold;
}

a:hover {
  color: white; 
}

ul {
  list-style-type: none;
}

#itemSelect {
  background-color: white;
  padding: 5px;
  font-size: 15px;
  border-radius: 100px;
  text-align: center;
}